@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /**------------- HEADER------------ */
  /* 
  .header {
    border-bottom: 1px solid #e7e9fc;
  } */

  /* .container.header-container {
    display: flex;
    align-items: center;
  } */

  /* .header-logo {
    color: var(--brand-color-light);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
  } */

  /* .half-header-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
  } */

  /* .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms linear;
    position: relative;
    transition: transform var(--tra) color var(--tra);
  } */

  /* .header-link:is(:hover, :focus) {
    color: #404bbf;
  } */

  /* .header-link.active {
    color: var(--second-background-color);
  } */

  /* .active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--second-background-color);
    display: block;
    border-radius: 2px;
    transform: translateY(23px);
  } */

  .header-list.list {
    display: flex;
    gap: 24px;
  }

  .address {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .address-list {
    margin-left: 76px;
  }
  /* 
  .address-item {
    display: block;
  } */

  /* .address-item-contact:is(:hover, :focus) {
    color: #404bbf;
  } */

  /* .address-item-contact {
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 40px;
    transition: transform var(--tra);
  } */

  /**----------Hero----------**/
  .hero {
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-pic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    min-width: 1158px;
    height: 600px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-pic-desktop-2x-min.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-btn {
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
    padding: 16px 32px;
    transition: transform var(--tra);
  }
  .hero-btn:is(:hover, :focus) {
    background-color: var(--second-background-color);
  }

  /**----------Features----------**/

  .features-list-item-top {
    display: block;
    background-color: #f4f4fd;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .features-icon-wrap {
    display: block;
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-icon {
    width: 100%;
    height: 100%;
  }

  .features-list {
    display: flex;
    gap: 24px;
    width: 100%;
  }

  .features-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #434455;
  }

  /**----------Work----------**/
  .work {
    display: block;
    padding-top: 0;
  }

  .work-wrap {
    display: flex;
    flex-direction: column;
  }

  .work-item {
    flex-wrap: wrap;
    gap: 24px;
    flex-basis: calc((100%-48px) / 3);
  }

  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .work-list {
    display: flex;
    flex-basis: calc((100% - 2 * 24px) / 3);
    gap: 24px;
  }

  /**----------Team----------**/
  .team-list {
    width: 100%;
    display: flex;
    flex-basis: calc((100% - 3 * 24px) / 4);
    gap: 24px;
  }
  /**----------Customers----------**/
  .customers-list {
    width: 100%;
    display: flex;
    gap: 24px;
  }
  /**-----Footer-----**/
  .footer.section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrap {
    margin: 0;
  }

  .footer-soc-wrap {
    width: 208px;
    margin-left: 120px;
  }

  .footer-form {
    display: block;
    width: 453px;
    height: 40px;
    margin-left: 80px;
  }

  .footer-form-wrap {
    display: flex;
    height: 40px;
  }

  .footer-mail {
    display: block;
    width: 264px;
    font-family: inherit;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 4px;
    outline: none;
  }

  .input-btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    gap: 16px;
    padding: 8px 24px;
    margin-left: 24px;
    transition: transform var(--tra);
  }

  /**-----------Модальне вікно---------------**/

  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    display: block;
    min-width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
  }

  .modal-form {
    display: inline-block;
    padding: 0px;
    width: 360px;
    height: 100%;
    color: #8e8f99;
    margin-top: 16px;
  }

  .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: auto;
    background-color: #e7e9fc;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .modal-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 24px;
  }

  .modal-label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #8e8f99;
    margin-bottom: 4px;
  }

  .input-box {
    display: flex;
    align-items: center;
    position: relative;
  }

  .modal-input {
    width: 360px;
    height: 40px;
    padding: 8px 16px 8px 32px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: none;
    transition: transform var(--tra);
  }

  .modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
  }

  .modal-comment {
    outline: transparent;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    margin-bottom: 4px;
  }

  .modal-comment::placeholder {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

  .modal-comment:focus {
    border-color: #4d5ae5;
  }

  .check-text {
    display: flex;
    gap: 5px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 24px;
  }

  .check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
  }

  .modal-check:checked + .check-text span {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }

  .checkbox-link {
    color: #4d5ae5;
  }

  .modal-btn {
    display: block;
    margin: 0 auto;
    padding: 16px 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: transform var(--tra), color var(--tra),
      background-color var(--tra), box-shadow var(--tra);
  }

  .modal-btn:is(:hover, :focus) {
    background-color: var(--second-background-color);
  }
}

/* .footer.section .container {
  flex-wrap: wrap;
} */
/* .footer-wrap {
  display: flex;
  flex-direction: column;
} */

.footer-logo {
  color: var(--brand-color-light);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.half-footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;

  max-width: 264px;
}
/* .footer-soc-wrap {
  width: 208px;
  margin-left: 120px;
} */
.footer-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-soc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-btn-color);
  transition: transform var(--tra) background-color var(--tra);
}
.footer-soc:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #ffffff;
}

/* .footer-form {
  display: block;
  width: 453px;
  height: 40px;
  margin-left: 80px;
} */

/* .footer-form-wrap {
  display: flex;
  height: 40px;
} */

.footer-mail {
  display: block;
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
}

.input-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  gap: 16px;
  padding: 8px 24px;
  transition: transform var(--tra);
}

.input-btn:hover {
  background-color: var(--second-background-color);
}

.footer-form-icon {
  fill: #ffffff;
}

.footer-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  color: inherit;
}

/* .footer-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
} */
