@media screen and (min-width: 428px) {
  /** -------Header--------- */

  /** -------Section 2--------- */
  .section {
    padding: 96px 0;
  }

  /** -------Section 2--------- */

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .features-icon-wrap {
    display: none;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
    width: 100%;
  }

  .features-list-title {
    text-align: center;
  }
  /** -------Section 3--------- */

  .work.section {
    display: none;
  }

  /** -------Section 3--------- */
}
