@media screen and (min-width: 480px) {
  /** -------Header--------- */

  /** -------Section 2--------- */

  .hero {
    width: 428px;
    height: 432px;
  }

  .hero.container {
    width: 100%;
    display: block;
  }

  .hero-title {
    width: 320px;
    text-align: center;
  }

  /** -------Section 2--------- */

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 96px auto 0;
  }

  .features-icon-wrap {
    opacity: 0;
    display: none;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
    width: 100%;
  }

  .features-list-title {
    text-align: center;
  }
  /** -------Section 3--------- */

  .work.section {
    display: none;
  }

  /** -------Section 3--------- */
}
